.calander-header ul li {
  margin: auto;
  padding: 0vh 0.1vh 0 0.1vh;
}

.calander-surface {
  grid-row-start: 1;
  grid-row-end: 4;
  border-radius: 5px;
  z-index: 5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.300);
}
.calander-header ul {
  display: flex;
  list-style-type: none;
  padding: 0vw 3vw 0vw 3vw;
}

.green {
  color: #00e9b3;
}

.days-display {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.1vh;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-bottom: 2vh;
}

.days-display p {
  text-align: center;
}

.dim {
  color: #8b8b8b;
}

.weeks p {
  color: white;
}

.task-time {
  color: #81d4fa;
}

.weeks {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-left: 2vh;
  margin-right: 2vh;
  gap: 0.1vh;
}

.weeks p {
  text-align: center;
}

.tasks-surface {
  padding-top: 2vh;
  background-color: #23242e;
  grid-row-start: 4;
  grid-row-end: 5;
  border-radius: 5px;
}

.task-element {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0vw 2vw 0vw 2vw;
  cursor: pointer;
}

.previous-month-button , .next-month-button{
  width: 2.2vw;
  height: 4.8vh;
  background-color: #272831;
  color: var(--heading);

  border-radius: 5px;
  border: none;
  box-shadow: 1px 3px 4px black;

  font-size: x-large;
  font-weight: bold;
  cursor: pointer;

  transition: all 0.1s ease-in-out;
}
.previous-month-button:hover , .next-month-button:hover{
  background-color: #242429;
  color: var(--description);

  box-shadow: 1px 4px 6px black;
}
.previous-month-button:active , .next-month-button:active{
  font-size: large;
  background-color: #17171a;
  color: var(--description);

  box-shadow: 1px 4px 6px black;
}

.day-hover{
  width: 74%;
  border: transparent 2px solid;
  transition: all 0.1s ease-in-out;
}
.day-hover:hover {
  background-color: #272831;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 3px 4px black;
}
.day-hover:active{
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  font-size: small;
  background-color: #242429;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 4px 6px black;
  transition: all 0.1s ease-in-out;
}
.selected-day{
  background-color: #00e9b3;
  color: #000;
  border-radius: 5px;
  width: 80%;
}

.today{
  width: 74%;
  border: #00e9b3 solid 2px;
  border-radius: 5px;
  
}
.today:hover{
  border: transparent 2px solid;
}

.event-day-underline::after{
  content: "";
  display: block;
  background-color: #81d4fa;
  width: 1.6vw;
  height: 5px;
  border-radius: 8px;
  margin-top: -1vh;
  margin-left: 0.4vw;
  transition: all 0.1s ease-in-out;
}
.day-hover:active > .event-day-underline::after{
  height: 4px;
  width: 0.8vw;
  margin-left: 0.75vw;
}