

.exam_body{
    width: 65vw;
    height: 15vh;
    background-color: var(--surfaces-low);
    border-radius: 8px;
    margin-top: 10px;

    box-shadow: black 1px 1px 4px;
}


.exam_details{
    display: grid;
    grid-template-columns: 4fr 1.4fr 0.4fr;
    grid-template-rows: 1fr;
    
}

.rhs , .lhs{
    padding-top: 12px;
    
}
.lhs{
    margin-left: 3vw;
}
.rhs{
    padding-left: 10px;
}

.exam_name{
    color: var(--secondary);
    font-weight: bold;
    font-size: 1vw;
}
.exam_date{
    margin-top: -5px;
    color: var(--primary-color);
}
.exam_time{
    margin-top: -5px;
    color: var(--secondary);
}
.status{
    margin-left: 5vw;
    margin-right: 5vw;

    font-weight: bold;
    font-size: 1vw;
}
.exam_duration{
    margin-right: 10px;
    color: var(--secondary);
}
.main_action_holder{
    background-color: #3A3C4B;
    /* background-color: #949cda; */
    height: 15vh;
    border-radius: 12px;
    font-size: 1vw;
}
.test_action{
    margin-left: 0.8vw;
    margin-right: 0.5vw;
    margin-top: 5vh;
    padding : 1.4vw;

    border-radius: 12px;
    border: none;

    background-color: rgba(0, 0, 0, 0);
    background-image: url("https://icons.veryicon.com/png/o/object/material-design-icons-1/clock-130.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}
.test_action:hover{
    cursor: pointer;
}

/* for when width is 300px max */
@media screen and (max-width: 960px){

    .exam_body{
        width: 75vw;
        height: 12vh;
    }

    .exam_details{
        display: grid;
        grid-template-columns: 4fr 1.2fr 0.8fr;
        grid-template-rows: 1fr;
    }

    .rhs , .lhs{
        padding-top: 2px;
    }
    .lhs{
        margin-left: 5vw;
    }
    .rhs{
        padding-right: 3vw;
    }

    .exam_name{      
        font-size: 2vw;
    }
    .exam_date{
        margin-top: -8px;
        font-size: 1.5vw;
    }
    .exam_time{
        margin-top: -8px;
        font-size: 1.5vw;
    }
    .status{
        margin-left: 2vw;
        margin-right: 2vw;
    
        font-weight: bold;
        font-size: 1.75vw;
    }
    .exam_duration{
        margin-right: 0px;
        font-size: 1.25vw;
        color: var(--secondary);
    }
    .main_action_holder{
        background-color: #3A3C4B;
        /* background-color: #949cda; */
        height: 12vh;
        border-radius: 6px;
        font-size: 1vw;
    }
    .test_action{
        margin-left: 3vw;
        margin-right: 3vw;
        margin-top: 4vh;
        padding : 2vw;
    
    }
    
}

@media screen and (max-height: 650px){

    .exam_body{
        width: 75vw;
        height: 12vh;
    }

    .exam_details{
        display: grid;
        grid-template-columns: 4fr 1.2fr 1fr;
        grid-template-rows: 1fr;
    }

    .rhs , .lhs{
        padding-top: 2px;
    }
    .lhs{
        margin-top: -0.4vw;
        margin-left: 5vw;
    }
    .rhs{
        padding-right: 3vw;
    }

    .exam_name{      
        font-size: 1.8vw;
    }
    .exam_date{
        margin-top: -8px;
        font-size: 3vw;
        visibility: hidden;
    }
    .exam_time{
        margin-top: -7.4vw;
        margin-left: 0vw;
        font-size: 1.8vw;
    }
    .status{
        margin-left: 2vw;
        margin-right: 4vw;
    
        font-weight: bold;
        font-size: 1.8vw;
    }
    .exam_duration{
        margin-top: -1vh;
        margin-right: 0px;
        font-size: 2.1vw;
        color: var(--secondary);
        visibility: hidden;
    }
    .main_action_holder{
        background-color: #3A3C4B;
        /* background-color: #949cda; */
        height: 12vh;
        border-radius: 6px;
        font-size: 1vw;
    }
    .test_action{
        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: 3vh;
        padding : 1.8vw;
    
    }
    
}

@media screen and (max-height: 500px){

    .exam_body{
        width: 75vw;
        height: 12vh;
    }

    .exam_details{
        display: grid;
        grid-template-columns: 4fr 1.2fr 1fr;
        grid-template-rows: 1fr;
    }

    .rhs , .lhs{
        padding-top: 8px;
    }
    .lhs{
        margin-left: 5vw;
    }
    .rhs{
        padding-right: 3vw;
    }

    .exam_name{      
        font-size: 1.8vw;
    }
    .exam_date{
        margin-top: -8px;
        font-size: 3vw;
        visibility: hidden;
    }
    .exam_time{
        margin-top: -8.4vh;
        margin-left: 0vw;
        font-size: 1.8vw;
        visibility: hidden;
    }
    .status{
        margin-left: 2vw;
        margin-right: 4vw;
    
        font-weight: bold;
        font-size: 1.8vw;
    }
    .exam_duration{
        margin-right: 0px;
        font-size: 2.1vw;
        color: var(--secondary);
        visibility: hidden;
    }
    .main_action_holder{
        background-color: #3A3C4B;
        /* background-color: #949cda; */
        height: 12vh;
        border-radius: 6px;
        font-size: 1vw;
    }
    .test_action{
        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: 3vh;
        padding : 1.8vw;
    
    }
    
}

@media screen and (max-height: 650px) and (min-width: 700px){

    .rhs , .lhs{
        margin-top: -1vw;
    }
}
@media screen and (max-height: 650px) and (min-width: 1200px){

    .rhs , .lhs{
        margin-top: -0.4vw;
    }
    .exam_name{
        font-size: 1.5vw;
    }
    .exam_time{
        visibility: hidden;
    }
    .status{
        font-size: 1.5vw;
    }
    .test_action{
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 3vh;
        padding: 0.8vw;
    }
}

@media screen and (max-height: 500px) and (min-width: 700px){

    .rhs , .lhs{
        margin-top: -1vw;
    }
}
@media screen and (max-height: 500px) and (min-width: 1200px){

    .rhs , .lhs{
        margin-top: -1vw;
    }
    .exam_name{
        font-size: 1.5vw;
    }
    .status{
        font-size: 1.5vw;
    }
    .test_action{
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 3vh;
        padding: 0.8vw;
    }
}