/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    /* Light Theme */
    /* NOT SET. */
    --primary-color: #81d4fa;
    --primary-variant: #3700b3;
    --surfaces: #232531;
    --background: #111320;
    --error: #cf6679;
    --secondary: #00e9b3;
    /* Text colors */
    --main-heading: #d9d9d9;
    --description: #aeaeae;
  }
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Theme */
    --primary-color: #81d4fa;
    --primary-variant: #3700b3;
    --surfaces: #232531;
    --background: #111320;
    --error: #cf6679;
    --secondary: #00e9b3;
    /* Text colors */
    --main-heading: #d9d9d9;
    --description: #aeaeae;
  }
}
* {
  font-family: "Varela Round", sans-serif;
}

body {
  background: var(--background);
  color: #d9d9d9;
  margin: 0;
  padding: 0;
}

h2 {
  color: var(--secondary);
}

/* The page has one wrapper division (main-widgets) within which there are three widgets with their grids defined as follows */

.main-widgets {
  display: grid;
  grid-gap: 2vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 2vw 16vw 2vw 16vw;
}

.announcements-widget {
  background: var(--surfaces);
  border-radius: 15px;
  padding: 2vw;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;

  font-style: normal;
}

.exam-widget-grid {
  background: var(--surfaces);
  border-radius: 15px;

  margin-top: 0.5%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);

  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}

.potd-widget-grid {
  background: var(--surfaces);
  border-radius: 15px;
  padding: 2vw;
  margin-top: 0.5%;

  font-style: bold;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

footer ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0vw 1vw 0vw 1vw;
  margin: 0.8vh;
}

footer {
  background-color: black;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
