@charset "UTF-8";
body {
  background-color: #111320;
  margin: 0em;
  font-family: 'Poppins', sans-serif;
}

body nav {
  margin-right: 3em;
  font-size: 2rem;
  color: #3b5874;
}

body nav ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

body nav ol a {
  padding-left: 2em;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1C2035;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.logo {
  margin: 0.5em;
  margin-left: 2em;
  color: #ffffff;
  font-weight: bold;
  font-size: 3rem;
}

.top-section {
  margin: 0em;
  background-color: #81D4FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-section .content {
  margin-left: 6em;
  margin-right: 3em;
}

.top-section .content h1 {
  margin-bottom: 0.2em;
  color: #000000;
  font-size: 5rem;
  font-weight: bold;
}

.top-section .content .learn-more {
  background-color: #1C2035;
  border: none;
  color: white;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  margin-top: 2em;
  -webkit-transition-property: background-color,-webkit-box-shadow;
  transition-property: background-color,-webkit-box-shadow;
  transition-property: background-color,box-shadow;
  transition-property: background-color,box-shadow,-webkit-box-shadow;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.top-section .content .learn-more span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.top-section .content .learn-more span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.top-section .content .learn-more:hover {
  background-color: #4545c4;
  -webkit-box-shadow: 2px 3px 4px #696969d2;
          box-shadow: 2px 3px 4px #696969d2;
}

.top-section .content .learn-more:hover span {
  padding-right: 15px;
}

.top-section .content .learn-more:hover span:after {
  opacity: 1;
  right: 0;
}

.top-section img {
  border-radius: 50%;
  min-width: 125px;
  min-height: 125px;
  width: 50vw;
  height: 50vw;
  max-width: 325px;
  max-height: 325px;
  padding: 2em 2em;
}

.about-section {
  margin: 1em 6em;
}

.about-section h2 {
  font-size: 2rem;
  color: #81D4FA;
}

.about-section p {
  color: white;
}