h2 {
  color: var(--secondary);
}
.potd-widget-grid {
  background: var(--surfaces);
  border-radius: 8px;
  padding: 2vw;
  margin-top: 0.5%;

  font-style: bold;
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 3;
}
.solve-button {
  background: var(--secondary);
  color: var(--surfaces);
  float: right;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  padding: 1vh 3vw;
  margin-left: 5vw;
  margin-top: -3vh;
  margin-bottom: 5vh;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}
.solve-button:hover {
  background-color: #00a57e;
  color: var(--main-heading);
}
#potd-lower-half{
  display: inline;
}
#button-div{
  display: flex;
  justify-content: end;
  align-items: center;
}
