/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
      /* Light Theme */
      /* NOT SET. */
      --primary-color: #81d4fa;
      --primary-variant: #3700b3;
      --surfaces: #232531;
      --background: #111320;
      --error: #cf6679;
      --secondary: #00e9b3;
      /* Text colors */
      --main-heading: #d9d9d9;
      --description: #aeaeae;
    }
  }
  /* Dark mode */
  @media (prefers-color-scheme: dark) {
    :root {
      /* Dark Theme */
      --primary-color: #81d4fa;
      --primary-variant: #3700b3;
      --surfaces: #232531;
      --background: #111320;
      --error: #cf6679;
      --secondary: #00e9b3;
      /* Text colors */
      --main-heading: #d9d9d9;
      --description: #aeaeae;

      /* Nav Width */
      --nav-width: 260px;
    }
  }

body{
    background: white;
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding: 0;
    
}

.hamburger_menu{
    position: absolute; 
    top: 0px;
    right: 0vw;
    width: var(--nav-width); 
    height: 100%; 
    background-color: var(--background);
}
.profile_pic{
    position: absolute; 
    top: 0px;
    right: 0vw;
    width: var(--nav-width); 
    height: 30%; 
    background-color: var(--surfaces);
}
.pfp_div{
    width: var(--nav-width);
    height: 100%;
    
}
.pfp_div img{
    width: 50%;
    position: relative;
    border-radius: 100%;
    
}