/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    /* Light Theme */
    /* NOT SET. */
    --primary-color: #81d4fa;
    --primary-variant: #3700b3;
    --surfaces: #232531;
    --background: #111320;
    --error: #cf6679;
    --secondary: #00e9b3;
    /* Text colors */
    --main-heading: #d9d9d9;
    --description: #aeaeae;
  }
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Theme */
    --primary-color: #81d4fa;
    --primary-variant: #3700b3;
    --surfaces: #232531;
    --background: #111320;
    --error: #cf6679;
    --secondary: #00e9b3;
    /* Text colors */
    --main-heading: #d9d9d9;
    --description: #aeaeae;
  }
}

body {
  background:var(--background) ;
  color: #D9D9D9;
  margin: 0;
  padding: 0;
}
header {
  margin: 0;
}

nav {
  background: var(--surfaces);
  height: 15%;
  width: 100%;
  font-family: "Varela Round", sans-serif;
  display: flex;
  justify-content: space-between;
}
nav ul {
  margin: 0;
  display: flex;
  padding-right: 0;
  
 
}
nav ul li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  
  font-size: 1rem;
  padding: 4vh;
}




nav ul li > a {
  text-decoration: none;
  color: white;
}

nav ul li > a:hover {
  color: var(--secondary);
}

h2{
color: #00e9b3;

}

.green{
  color: #00e9b3;
}

.white{
  color: white;
}
.dim{
  color: #8B8B8B;
}

.weeks p{
  color: white;
}

.task-time{
  color:#81d4fa;
}

.logo{ /* I know this is malpraktise but lets go with this for now ~Xaferdian*/
  padding-top: 0.7%;
  padding-left:0.7%;
  width:239px;
  height: 67px;
}
.widget-inprogress-temporary{
  background-color: rgb(192, 47, 74);
  font-family:"Varela Round", sans-serif;
  font-weight:bold;
  margin-left: 5%;
  margin-right:5%;
  margin-top:2%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr;
}
.white{
  padding-right: 400px;
  
}

.announcement-widget{
  background:var(--surfaces);
  border-radius: 15px;
  padding: 20px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end:3;
  font-family: "Varela Round", sans-serif;
  font-style: normal;
}

/* Xaferdian's Malpraktise region*/
.main-widgets{ 

  display: grid;
  grid-gap: 2vh;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  margin: 2vw 12vw 2vw 12vw;
}

.calander-header ul{ 
  display: flex;
  list-style-type: none;
}

.calander-header ul li{
  padding: 0vh 0.1vh 0 0.1vh;
}

.exam-widget{

  background:var(--surfaces);
  border-radius: 15px;
  padding: 20px;
  margin-top: 0.5%;


  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end:4;
}

/* Xaferdian's Malpraktise never ends, yes never lol */
/* .resume-button{
  
    color: rgb(255, 255, 255);
    padding: 0.5em 1.5em;
    font-size: 1rem;
    font-family:"Varela Round", sans-serif ;
    font-weight: bold;
    font-size:1rem;
    border-radius: 0.5em;
    background: rgb(255, 113, 139);
    border: none;
    height: 5vh;
    width:7vw;
    text-align:center;
   
    transition: all .3s;
    
   }
   
   button:hover {
    border: 1px solid white;
   }
   
   button:active {
    box-shadow: 4px 4px 4px #c5c5c5;
           
   } */
   .resume-button{
    background: rgb(255, 113, 139);
    color: white;
    border: none;
    font-weight:bold;
    border-radius: 8;
    padding: 1vh 2vw;
    margin-left: 5vw;
    margin-top: 5vh;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    font-family: 'Varela Round', sans-serif;
  }
  .resume-button:hover{
    background-color: red;
    color: var(--main-heading);
  }
  

.potd-widget{
  background:var(--surfaces);
  border-radius: 15px;
  padding: 20px;
  margin-top: 0.5%;
  font-family: "Varela Round", sans-serif;
  font-style: bold;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end:3;
}


.solve-button{
  background: var(--secondary);
  color: var(--surfaces);
  border: none;
  font-weight:bold;
  border-radius: 6px;
  padding: 1vh 2vw;
  margin-left: 5vw;
  margin-top: 5vh;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  font-family: 'Varela Round', sans-serif;
}
.solve-button:hover{
  background-color: #00a57e;
  color: var(--main-heading);
}



.days-display{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(5,1fr);
  gap: 0.1vh;
  
}

.weeks{
  display: grid;
  grid-template-columns: repeat(7,1fr);

  gap: 0.1vh;
}