/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    /* Light Theme */
    /* NOT SET. */
    --primary-color: #81d4fa;
    --primary-variant: #3700b3;
    --surfaces: #232531;
    --background: #111320;
    --error: #cf6679;
    --secondary: #00e9b3;
    /* Text colors */
    --main-heading: #d9d9d9;
    --description: #aeaeae;
  }
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Theme */
    --primary-color: #81d4fa;
    --primary-variant: #3700b3;
    --surfaces: #232531;
    --background: #111320;
    --error: #cf6679;
    --secondary: #00e9b3;
    /* Text colors */
    --main-heading: #d9d9d9;
    --description: #aeaeae;

    /* Nav Width */
    --nav-width: 260px;
  }
}

body {
  background: black;
  font-family: "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
}

.hamburger_menu {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: var(--nav-width);
  height: 100%;
  background-color: var(--background);
}
.profile_pic {
  position: absolute;
  top: 0px;
  right: 0vw;
  width: var(--nav-width);
  height: 35%;
  background-color: var(--surfaces);
  color: var(---main-heading);
}
.student-info {
  list-style: none;
  margin-top: 10%;
}
.text-field {
  color: var(--secondary);
  margin-right: 3vw;
  text-align: center;
  margin-top: 8px;
}
.pfp_div {
  width: var(--nav-width);
  height: 100%;
}
.pfp_div img {
  width: 40%;
  height: 20%;
  position: relative;
  border-radius: 0%;
  margin-left: 15%;
}
.navigations ul {
  color: var(--main-heading);
  margin-top: 100%;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--main-heading);
}
a:hover {
  color: var(--secondary);
  transition: 0.3s;
}
.navigations ul li {
  text-decoration: none;
  padding-bottom: 25px;
  text-align: center;
  margin-right: 26.5%;
}
.logout {
  background: var(--error);
  color: var(--surfaces);
  border: none;
  border-radius: 3px;
  padding: 0.7vh 1vw;
  margin-top: 40%;
  font-size: 0.7rem;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  height: 4.8vh;
  width: 8vw;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  letter-spacing: 0.2vw;
}
.logout:hover {
  background-color: var(--error);
  color: var(--main-heading);
}
.logout:active {
  background-color: rgb(235, 82, 82);
  color: var(--main-heading);
}
